{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Prijs</th>
                <th>Omschrijving</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            {% for product in Products %}
            <tr>
                <td>{{ product.Product.naam }}</td>
                <td>€ {{ product.Product.prijs }}</span></td>
                <td>{{ product.Product.omschrijving }}</td>
                <td>{{ product.Aantal }}</td>
            </tr>
            </tbody>
    {% endfor %}
            <tr>
                <th>Totaal: € <span>{{ totaal }}</span></th>
            </tr>
        </table>

    <div>
        <button type="button" class="btn btn-outline-success"><a href="{{ path('checkout') }}">Afrekenen</a></button>
    </div>


{% endblock %}