{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Product info</h1>
        <hr>
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ product.naam }}</td>
            </tr>
            <tr>
                <th>Prijs</th>
                <td>{{ product.prijs }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ product.image }}</td>
            </tr>
            <tr>
                <th>Omschrijving</th>
                <td>{{ product.omschrijving }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-info" href="{{ path('product_index') }}">back to list</a>

        <span><a class="btn btn-outline-dark" href="{{ path('product_edit', {'id': product.id}) }}">edit</a></span>

        <span {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
