{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

    <h2 class="mt-5">Overzicht van uw producten</h2>
    <table class="mt-3 table">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Prijs</th>
            <th>Omschrijving</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        {% for product in Products %}
        <tr>
            <td>{{ product.Product.naam }}</td>
            <td>€ {{ product.Product.prijs }}</span></td>
            <td>{{ product.Product.omschrijving }}</td>
            <td>{{ product.Aantal }}</td>
        </tr>
        </tbody>
        {% endfor %}
        <tr>
            <th>Totaal: € <span>{{ totaal }}</span></th>
        </tr>
    </table>
    <div class="mt-5">
        <p>Vul hier uw gegevens in om de betalen te voltooien.</p>
    </div>
    <hr>
    <div class="mt-2">
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        <input class="btn btn-outline-success" type="submit" value="Verzend">
        {{ form_end(our_form) }}
    </div>

{% endblock %}